body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Basic styling for the app */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-nav {
  display: flex;
  align-items: center;
}

.page-nav h2 {
  margin-right: 30px;
}

.page-nav a {
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  color: #007bff;
}

.book {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book h3 {
  margin-bottom: 5px;
}

.book p {
  color: #666;
}

.book-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.book button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.book-form button:hover {
  background-color: #0056b3;
}

.book button:hover {
  background-color: #0056b3;
}

.book-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.book-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
